body {
    font-family: font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #f8f9fa, #e3f2fd);
    margin: 0;
    padding: 0;
    color:#1167b1;
    
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.container {
    width: 85%;
    margin: 40px auto;
    
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
    margin-bottom: 20px;
    color:#1167b1;

}

.form-card {
    background: white;
    width: 380px;              
    padding: 40px 35px;        
    border-radius: 16px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    margin: 80px auto;        
}

button {
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    background: #4CAF50;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #45a049;
}

.modern-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.modern-table thead {
    background-color: #f4f6f9;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

.modern-table th {
    text-align: left;
    padding: 14px;
    color: #555;
}

.modern-table td {
    padding: 14px;
    border-bottom: 1px solid #eee;
}

.modern-table tbody tr:hover {
    background-color: #f9fbff;
    transition: 0.2s ease;
}

 #box{

   