<!DOCTYPE html>
<html>
<head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></head>
<body>
<a href="/logout" class="btn btn-danger">Logout</a>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<h2>Analytics Dashboard </h2>

<div class="container mt-5">
  <div class="card shadow p-4 mb-4">

<h3 class="text-success">Total Expense: ₹ {{ total or 0 }}</h3>
</div>
</div>
<h3>Category Breakdown</h3>
<div class="card">
    <table class="modern-table">
        <thead>
            <tr>
                <th>Category</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>

{% for c in category_data %}
<tr>
    <td>{{ c.category }}</td>
    <td>₹ {{ c.total }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<h3>Monthly Expense</h3>
<div class="card">
    <table class="modern-table">
        <thead>
            <tr>
                <th>Month</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
        
{% for m in monthly_data %}
<tr>
    <td>{{ m.month }}</td>
    <td>₹ {{ m.total }}</td>
</tr>
{% endfor %}
</tbody>
</table>  

<h3>Category Pie Chart</h3>
<div style="width: 400px; height: 400px;">
<canvas id="categoryChart"></canvas>
</div>

<script>
const categoryData = {
    labels: {{ category_labels | tojson }},
    datasets: [{
        data: {{ category_totals | tojson }},
        borderWidth: 1
    }]
};

new Chart(
    document.getElementById('categoryChart'),
    {
        type: 'pie',
        data: categoryData
    }
);
</script> 

<h3>Monthly Expense Bar Chart</h3>
<div style="width: 600px; height: 400px;">
<canvas id="monthlyChart"></canvas>
</div>

<script>
const monthlyData = {
    labels: {{ months | tojson }},
    datasets: [{
        label: 'Monthly Expense',
        data: {{ monthly_totals | tojson }},
        borderWidth: 1
    }]
};

new Chart(
    document.getElementById('monthlyChart'),
    {
        type: 'bar',
        data: monthlyData
    }
);
</script> 
 
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>